body {
    background-color: #DDDDDD;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.defau {
    display: none;
    font-size: 130%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.defau_long {
    line-height: 150%;
    display: none;
    font-size: 130%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.longtext{
    text-align: justify;
}

button {
    padding: 10px 20px;
    text-align: center;
    font-size: 130%;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
}

input {
    font-size: 110%;
}
