body{
    background-color: #DDDDDD;
}

.defau {
    display: none;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 130%;
    position: relative;
    text-align: center;
}

button {
  padding: 10px 20px;
  text-align: center;
  font-size: 130%;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
